body {
  background-color: hsl(204, 43%, 93%);
}
.container {
  display: grid;
  width: 50rem;
  height: 60vh;
  grid-template-rows: 1fr 1fr;
  box-shadow: 15px 15px 15px -15px;
  margin: 0 auto;
  align-items: center;
}
h2 {
  color: hsl(179, 62%, 43%);
}
.header p {
  color: hsl(218, 22%, 67%);
  font-size: 16px;
}
.header h3 {
  color: hsl(71, 73%, 54%);
}
.header {
  /* margin: 1rem;
     padding: 1rem; */
  padding: 2.2rem;
  background-color: white;
}
.body-container {
  display: flex;
}
.card-1 {
  width: 50%;
  background-color: hsl(179, 62%, 43%);
  padding: 1rem;
}
.card-1 h1 {
  font-weight: 700;
  color: hsl(204, 43%, 93%);
}
.card-1 h3 {
  color: hsl(204, 43%, 93%);
}
.card-1 p {
  color: hsl(204, 43%, 93%);
}
button {
  background-color: hsl(71, 73%, 54%);
  color: hsl(204, 43%, 93%);
  width: 20em;
  height: 3em;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  border: none;
}

.card-2 {
  width: 50%;
  background-color: hsl(179, 52%, 56%);
  padding: 1rem;
}
.card-2 h4 {
  font-weight: 700;
  color: hsl(204, 43%, 93%);
}
.card-2 p {
  color: hsl(204, 43%, 93%);
}
